#cover {
    /* border: solid 1px black; */
    display: flex;
    /* height: 1000px; */
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
  #sidebar_left {
    /* border: solid 1px black; */
    flex: 1;
    padding-left: 5%;
  }

  #product_grid {
    /* border: solid 1px black; */
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 4%;
    padding: 1%;
  }
  
  #img_div {
    /* border: solid 1px red; */
    width: 100%;
    height: 300px;
  }
  #img_div img {
    width: 100%;
    height: 100%;
  }

  #sidebar_right {
    /* border: solid 1px black; */
    flex: 1;
  }

  #sidebar_left ul {
    flex-direction: column;
    gap: 5px;
  }
  .hide_li {
    display: none;
  }
  #view_li {
    display: block;
  }
  #sidebar_left p,#sidebar_right p {
    font-weight: bolder;
  }
  #sidebar_right ul {
    flex-direction: column;
    gap: 5px;
  }
  #sidebar_right {
    padding-left: 5%;
  }